/* Accordion tweaks */
.accordion-button::after {
  display: none !important; /* remove the arrow */
}

.accordion-button {
  cursor: pointer;
  font-weight: 500;
}

.accordion-body ul {
  list-style: none;
  padding-left: 0;
}

.accordion-body li {
  margin: 4px 0;
}
